{% extends "base.html" %}
{% block content %}

    <div class="container">

      <form class="form-signin" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>

          <label class="sr-only"></label>
          <input type="text" class="form-control" name="nickname" placeholder="Nickname" required>


          <label class="sr-only"></label>
          <input type="password" class="form-control" name="password" placeholder="Password" required>


        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->
{% endblock %}

